:root {
    --text: #ecf7ed;
    --background: #040a05;
    --primary: #9fd4a1;
    --secondary: #36785e;
    --accent: #54b29e;
    --primary-hover: #bbf0bd;
}

p, h2, h1, h3, form {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    background-color: var(--background);
}

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--secondary);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-hover);
}

.main-container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex: auto;
    width: 100%;
    min-height: 100vh;
}

.header-wrapper {
    width: 100%;
    font-family: 'Inter', Arial, sans-serif;
    display: flex;
    align-items: center;
    font-size: 20px;
    background-color: var(--background);
    color: white;
    z-index: 999;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 0;
    max-width: 1280px;
    margin: 0 auto;
}

.header-links-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    font-size: 16px;
}

.header-admin-links-wrapper {
    display: flex;
    gap: 24px;
}

a {
    border-radius: 4px;
    transition: background-color 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--text);
    &:hover {
        &:not(.active) {
            color: var(--primary);
            cursor: pointer;
        }
    }
}

.active {
    color: var(--primary);
}

h2, h1 {
    color: var(--text);
}

p {
    color: var(--text);
}

.btn-primary {
    background-color: var(--primary);
    border: none;
    font-family: 'Inter', Arial, sans-serif;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    &:hover {
      cursor: pointer;
      background-color: var(--primary-hover);
    }
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    gap: 12px;

    & > h3 {
        color: var(--primary);
    }

    & > a > button:hover {
        cursor: pointer;
    }
}

.catalog-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    padding: 16px 0;

    & > form {
        display: flex;
        gap: 12px;
        align-items: center;
        color: white;
    }

    & > form > input {
        background-color: transparent;
        font-family: 'Inter', Arial, sans-serif;
        border: 1px solid var(--primary);
        outline: none;
        padding: 12px;
        border-radius: 8px;
        width: 100%;
        color: white;
        font-size: 16px;
        transition: 150ms;
    }

    & > form > input:focus-visible {
        border: 1px solid var(--primary);
    }

    & > form > input::placeholder {
        color: var(--primary);
    }
}

.games-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

.game-container {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 50px;

    & > .game-title {
        gap: 5px;
        font-size: 14px;
        line-clamp: 2;

    }

    & > .price-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    & > div > a > button {
        background-color: var(--primary);
        border: none;
        font-family: 'Inter', Arial, sans-serif;
        padding: 8px;
        border-radius: 8px;
        font-weight: bold;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }
}

.game-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 250px;
    height: 330px;
}

.admin-container {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;

    & > .btn-primary {
        align-self: flex-end;
    }

    color: var(--text);

    & > table {
        color: var(--text);
        table-layout: fixed;
        text-align: center;
    }

}

.table-actions {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.heading-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-article-container {
    border: 1px solid var(--primary);
    padding: 16px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0;
}

.form-input, .form-select {
    background-color: transparent;
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 8px 10px;
    outline: none;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 15px;
    color: var(--text);
    transition: 150ms;
    width: 100%;

    &:focus-visible {
        border: 1px solid var(--primary)
    }
}

.form-select > option {
    background-color: var(--primary);
    color: black;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: bold;
}

.contact-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 40px;
    align-self: flex-start;
    padding-top: 16px;
}

.contact-wrapper {
    display: flex;
    flex: 1;
    justify-content: space-between;

    & > form {
        flex: 0.5;
    }
}

.map-icon-container {
    background-color: var(--primary);
    color: black;
    padding: 4px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.address-container {
    display: flex;
    gap: 12px;
    align-items: center;
}

.address-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.about-game-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: center;

    & > .about-game-count {
        color: var(--primary);
        font-size: 42px;
    }
}